{% extends 'video/base.html'%}
{% load static %}
{% block body %}
<div>
    <div class="container form-wrapper">
        <h1 class="form-header">Update Playlist</h3>
    <form action="{% url 'video:form' %}" method="POST">
        {% csrf_token %}
        {% for f in fields %}
        <div class="form-group col-md-12">
            <label>{{f.label}}</label>
            {{f}}
        </div>
       {% endfor %}
        <input type="submit" value="Create" class="btn btn-block btn-success">
    </form>
    </div>
</div>
{% endblock %}